#!/usr/bin/env zsh

PACKAGES=(
    # {{ if contains .chezmoi.osRelease.idLike "debian" }}
    #
    # {{ else if contains .chezmoi.osRelease.idLike "rhel" }}
    #
    # {{ end }}
    bat
    btop
    build-essential
    direnv
    ffmpeg
    git
    jq
    neofetch
    python3-pip
    python3-venv
    ripgrep
    software-properties-common
    tar
    tmux
    unzip
    zip
)

if [ "$(id -u)" -eq 0 ]; then
    SUDO=""
else
    if ! command -v sudo &> /dev/null; then
        echo "❌ sudo is not installed. Please install sudo or run as root."
        exit 1
    fi
    SUDO="sudo"
fi

function install {
    $SUDO apt-get install -y \
        $PACKAGES \
        && \
        echo "✅ Packages installed successfully"
    }

function uninstall {
    $SUDO apt-get remove -y \
        fzf \
        && \
        echo "✅ Old packages removed successfully"
}


echo "⚙️  Updating apt packages"
install || echo "❌ Failed to install packages"

echo "⚙️  Removing old packages"
uninstall || echo "❌ Failed to remove old packages"

echo "⚙️  Updating batcat cache"
batcat cache --build || echo "❌ Failed to build batcat cache"
echo "✅ Batcat cache successfully built"
