#! /usr/bin/env nu

use std/log

try {
    log info "Installing oh-my-posh"
    if ((which oh-my-posh | length) == 0) {
        curl -s https://ohmyposh.dev/install.sh | bash -s -- -d ~/.local/bin
    }
    log info "Installed oh-my-posh"
} catch {
    |err| log error $"Failed to install oh-my-posh ($err)"
}


# vi: ft=nu.template
