{{ if eq .chezmoi.os "linux" }}
#! /usr/bin/env nu

let gpg_path = '/etc/apt/trusted.gpg.d/fury-nushell.gpg'

if (($gpg_path | path type) != "file") {
	curl -fsSL https://apt.fury.io/nushell/gpg.key | sudo gpg --dearmor -o $gpg_path
	echo "deb https://apt.fury.io/nushell/ /" | sudo tee /etc/apt/sources.list.d/fury.list
}

sudo apt update

sudo apt install -y unzip build-essential nushell

# vi: ft=nu.template
{{ end }}
