{{- $isWork := contains "MSG" .chezmoi.hostname}}
{{- $isCodespace := contains "codespaces-" .chezmoi.hostname}}

{{- $name := "Jonathan Boeckel" -}}
{{- $email := "jboeckel@mailbox.org" -}}
{{- $githubUsername := "Joniator" -}}

{{- if $isWork }}
{{- $email = "jonathan.boeckel@msg.group" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

{{- if not stdinIsATTY -}}
encryption: "gpg"
gpg:
  symmetric: true
{{- end -}}

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  isWork: {{ $isWork }}
  isCodespace: {{ $isCodespace }}
  githubUsername: "{{ $githubUsername }}"
