{{- $isWork := contains "MSG" .chezmoi.hostname}}
{{- $isCodespace := contains "codespaces-" .chezmoi.hostname}}

{{- $email := "jboeckel@mailbox.org" -}}

{{- if $isWork }}
{{- $email = "jonathan.boeckel@msg.group" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

encryption: "gpg"
gpg:
  symmetric: true

data:
  name: "Jonathan Boeckel"
  githubUsername: "Joniator"
  email: "{{ $email }}"
  isWork: {{ $isWork }}
  isCodespace: {{ $isCodespace }}

cd:
  command: "zsh"
