{{ $osId := (index .chezmoi.osRelease "id" | default "unknown") }}
{{ $defaultShell := promptStringOnce . "defaultShell" "Default shell (e.g. zsh, bash, nu)" }}

cd:
  command: {{ $defaultShell }}

data:
  isWindows: {{ contains "win" .chezmoi.os }}
  isWork: {{ contains "MSGN" .chezmoi.hostname }}
  isCachy: {{ eq "cachyos" $osId }}
  defaultShell: {{ $defaultShell }}
