# Ignore everything by default
/*
/.*

# Ignore compiled zsh files and completion
.zcompdump*
*.zwc

# Don't ignore config relevant files and directories
!/.gitignore
!/.gitmodules
!/.zshenv

!/.config
/.config/vim/viminfo
