[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".config/zsh/antidote"]
	path = .config/zsh/antidote
	url = https://github.com/mattmc3/antidote.git
[submodule ".config/vim/bundle/vim-airline"]
	path = .config/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/vim/bundle/vim-nerdtree"]
	path = .config/vim/bundle/vim-nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".config/vim/bundle/vim-gitgutter"]
	path = .config/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".config/vim/bundle/vim-fugitive"]
	path = .config/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/vim/bundle/vim-ale"]
	path = .config/vim/bundle/vim-ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".config/vim/bundle/vim-floaterm"]
	path = .config/vim/bundle/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
