# Ignore everything by default
/*
/.*

# Ignore compiled zsh files and completion
.zcompdump*
*.zwc
.config/zsh/plugins.zsh

!/README.md

# Don't ignore config relevant files and directories
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.zshenv

!/.config
/.config/.lesshst
/.config/gnupg
/.config/docker
/.config/htop
/.config/nvim/plugin/packer_compiled.lua
/.config/oh-my-zsh/cache
/.config/sdkman
/.config/secrets
