[user]
  email = jonathan.boeckel@msg.group
  name = Jonathan Boeckel
  signingkey = BAB33D6B07CF1A8D0D6823A393A6844F814C1648

[init]
  defaultBranch=main

[color]
  ui = true

[commit]
  gpgsign = true

[diff]
	tool = nvimdiff

[merge]
	tool = nvimdiff

[difftool]
	prompt = false

[core]
	autocrlf = false

[http]
  sslCAInfo = /etc/ssl/certs/gitlab-prod-eu-techem-corp.pem
