[user]
{{- if contains .chezmoi.hostname "msgn" }}
  email = jboeckel@mailbox.org
{{- else }}
  email = jonathan.boeckel@msg.group
{{- end }}
  name = Jonathan Boeckel
  signingkey = ~/.ssh/id_ed25519

[alias]
  p  = push
  a  = add
  aa = add --all
  c  = commit
  f  = fetch
  pl  = pull
  st = status

[gpg]
  format = ssh

[http]
  sslVerify = false

[credential "https://codeberg.org"]
  provider = generic

[credential]
  helper = cache

[color]
  ui = true

[blame]
  ignoreRevsFile = .git-blame-ignore-revs

[core]
  autocrlf = {{ eq .chezmoi.os "windows" }}
  excludesFile = ~/.gitignore

[log]
  decorate      = true
  showSignature = false
  abbrevCommit  = true


# clearly makes git better

[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true

# why the hell not?

[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[core]
  excludesfile = ~/.gitignore
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
  # fsmonitor = true
  # untrackedCache = true
[merge]
  conflictstyle = zdiff3
[pull]
  rebase = true

# vi: ft=gitconfig
