[user]
  email = {{ .email }}
  name = {{ .name }}

[init]
  defaultBranch=main

[color]
  ui = true

[diff]
  tool = nvimdiff

[merge]
  tool = nvimdiff

[difftool]
  prompt = false

[core]
  autocrlf = false

[log]
  decorate = true
  showSignature = true
  abbrevCommit = true
