[tools]
"aqua:JanDeDobbeleer/oh-my-posh" = "latest"
carapace = "latest"
chezmoi = "latest"
fd = "latest"
neovim = "latest"
ripgrep = "latest"
zoxide = "latest"

[settings]
idiomatic_version_file_enable_tools = ["java"]
experimental = true

# vi: ft=toml.template
